.container{
    display: flex;
    justify-content: space-between;
    align-items: start;  
    
}

.tareas-con-linea {
    text-decoration: line-through;
}
.tareas-sin-linea {
    text-decoration: none;
}