.container {
    display: flex;
    align-items: center;
  } 
  
  .container input[type="checkbox"] {
    margin-right: 20px;
    margin-left: 10px;
  }
  
  .taks {
    flex-grow: 1;
    margin-right: 1%;
  }
  
  .task-with-line {
    text-decoration: line-through;
  }
  
  .container button {
    background-color: #22223B;
    color: #F2E9E4;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .container button:hover {
    background-color: #4A4E69;
  }
  
  .clear-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

 .error{
    color: rgb(141, 13, 13);
    text-align: center;
    margin: 1%;
    margin-top: 0;
  }

  textarea {
    resize: none;
    width: 300px;
    height: 100px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea:focus {
    outline: none;
    border-color: #6c63ff;
    box-shadow: 0 0 3px rgba(108, 99, 255, 0.5);
  }

  .task-title{
    font-weight: bold;
  }

  .task-form {
    display: flex;
    flex-direction: column;
  }
  
  .task-form input,
  .task-form textarea {
    margin: 10px;
    margin-top: 0px;
    width: 380px;
  
  }

  
  .tasks-pending{
    text-align: center;
  }